[Unit]
Description=ARK RemoteID Bluetooth Transmitter
ConditionPathIsDirectory=/sys/class/bluetooth
Wants=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/ark/bin/rid-transmitter

[Install]
WantedBy=default.target
