[Unit]
Description=Updates the hotspot name from hotspot-default to <hostname>-<serial>
After=network-online.target syslog.target NetworkManager.service
Wants=network.target network-online.target syslog.target NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/local/bin/update_hotspot_default.sh
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
