[Unit]
Description=Configure LTE Interface
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple

ExecStart=/home/jetson/.local/bin/configure_lte.sh
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
