[Unit]
Description=Microservice backend for managing systemd services
Wants=network.target network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/lib/ark-os/venv/bin/python3 /usr/lib/ark-os/python/service_manager.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PORT=3002

[Install]
WantedBy=multi-user.target ark-os.target
