[Unit]
Description=Enable Jetson CAN interfaces
Wants=network.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/ark-os/scripts/start_can_interface.sh
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target ark-os.target
