[Unit]
Description=Microservice backend for monitoring and managing the linux system
Wants=network.target network-online.target
After=network-online.target

[Service]
Type=simple
User=jetson
Group=jetson
ExecStart=/usr/lib/ark-os/venv/bin/python3 /usr/lib/ark-os/python/system_manager.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PORT=3004

[Install]
WantedBy=multi-user.target ark-os.target
